h1{
background-color: green;

}
body {
    background-color: lightGreen;
    position: relative;
    width: 600px;
  }

html{
    background-image:url(https://wallpaperaccess.com/full/418554.jpg);
    
    
}